body {
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  font-size: 17px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
}
@media (min-width: 1140px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
  }
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.timeline {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0 5%;
  white-space: nowrap;
  overflow-x: hidden;
}
.timeline__lists {
  font-size: 0;
  width: 100%;
  padding: 70px 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.timeline__list {
  position: relative;
  display: inline-block;
  list-style-type: none;
  height: 3px;
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.timeline__list:last-of-type {
  margin-right: 6%;
}
.timeline__list:first-child {
  margin-left: 6%;
}
.timeline__list:last-of-type::after,
.timeline__list::before {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #eeeeee;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
          box-shadow: 0px 0px 0px 2px #ffffff;
}
.timeline__list::before {
  left: -5%;
}
.timeline__list:last-of-type::after {
  right: -5%;
}
.timeline__name {
  font-size: 12px;
  line-height: normal;
  color: #c0c5cd;
  position: absolute;
}
.timeline__list .timeline__topcenter {
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.timeline__list .timeline__bottomcenter {
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.timeline__list .timeline__top {
  top: -25px;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.timeline__list .timeline__bottom {
  bottom: -25px;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.timeline__none {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 7%;
}
.timeline__none::after {
  display: none;
}
.finish {
  background: #4ea31e;
}
.expect {
  background: #f49530;
}
.finish::before {
  background: #4ea31e;
  border-color: #4ea31e;
}
.expect::before {
  background: #f49530;
  border-color: #f49530;
}
.expect2::before {
  background: #f49530;
  border-color: #f49530;
}
.types {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.type {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2ab6ff;
  font-size: 20px;
  line-height: normal;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
}
